body{
    margin: 0px;
    padding: 0px;
}


.container{
    display: flex;
    justify-content: center;
    width: 50%;
    height: auto;
    margin: 0px auto;
    border: 2px solid palevioletred;
    flex-direction: column;
}


.image{
    padding: 10px 0px 10px 0px;
    max-width: 50%;
    margin: 0 auto;    
    opacity: 1;
}

.hide{
    opacity: 0;
}